 <div class="container-fluid bg-white  h-100 p-0 d-flex flex-column">
       <h2 class="text-secondary mx-auto my-4 text-center">Aziende da convezionare:</h1>
        
       <div class="accordion" id="accordionExample">
        <#if aziende?? && aziende?size != 0>
        <#assign x=1>
        <#list aziende as azienda>
        
                <div class="card shadow still " role="accordionElement" type="button" data-toggle="collapse" data-target="#collapse${x}" aria-expanded="false" aria-controls="collapseOne" >
                  
                    <div class="card-header hover d-flex px-4 py-3"  id="headingOne">
                     <h4 class="my-auto mr-auto">${azienda.nome} </h4>
                     <a href="Convenzione?a=${azienda.key}" class="btn btn-success my-auto">Convenziona</a>
                    
                  </div>
                  
                  <div id="collapse${x}" class="collapse collapsed" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body p-4">
                             <p class="card-text text-secondary">${azienda.descrizione}</p>
                                <p class="card-text">${azienda.sede}</p>
                    </div>
                  </div>
                </div>
           <#assign x++>
                </#list>
        </div>
    <#else>
    nessuna azienda convenzionata
    </#if>
   
    <hr class="my-4">
    <div class="row p-2 mb-5">
    <form class="mx-auto" id="stats" name="stats" action="Statistiche">
    <button type="submit" class="mx-auto btn btn-primary" >Controlla le Statistiche delle aziende </button>
    </form>
    </div>
          </div>

<script>
    $(document).ready(function() {

    $('.collapse').on("shown.bs.collapse", function () {
        $(this).parent().children(".card-header").addClass('text-white bg-primary' );
    });

    $('.collapse').on('hidden.bs.collapse', function () {
        $(this).parent().children(".card-header").removeClass('bg-primary text-white');
    });

});
</script>
