<#ftl encoding='UTF-8'>
<div id="body" class="col-lg-10 p-auto mx-auto mt-0 pt-3">
    Bella, zì <br>
    Devi da convenzionà 'ste aziende:
    <#assign x=0>

    <div class="row">
        <#if aziende?? && aziende?size != 0>
        <#list aziende as azienda>

        <div class="col-md col-sm-12">
            <div class="card text-secondary bg-light mb-3">
                <!--<div class="card-header bg-altro">
                    <h2 class="card-title">Tirocinio</h2>
                </div>-->
                <div class="card-body">
                    <h3 class="card-title">${azienda.nome}</h3>
                    <p class="card-text">${azienda.descrizione}</p>
                    <p class="card-text">${azienda.sede}</p>
                </div>
                <a class="card-footer card-text text-muted btn" href="DettagliAzienda?a=${azienda.key}">Mostra dettagli</a>
                <a class="card-footer card-text text-light btn bg-primary" href="Convenzione?a=${azienda.key}">Convenziona</a>
            </div>
        </div>
        <#assign x++>
        <#if x==3>
    </div>
    <div class="row">
        <#assign x=0>
        </#if>
        </#list>
    </div>
    <#else>Nessuna azienda convenzionata
    </#if>
</div>