    <nav class="nav nav-underline m-0 p-0">
    <h1 class="text-secondary" id="tirocini">
        Aziende convenzionate
    </h1>
        <form class="form-inline ml-auto my-2 my-lg-0" method="get">
            <input id="search-aziende" class="form-control mr-sm-2"
                   name="q" 
                   <#if searchString??>
                   value="${searchString}"
                   autofocus
                   </#if>
                   type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" 
                    type="submit">Search</button>
        </form>
    </nav>
    <small class="text-muted">
        
        page count: ${pageCount}, page: ${page}<br>
        ${numAziende} aziende attualmente convenzionate
    </small>
    <hr>
    
    <#if searchString??>
    <p class="text-secondary">
        Aziende rilevanti per <span class="text-primary">"${searchString}"</span>: 
        trovate <b>${aziende?size}</b> corrispondenze
    </p>
    </#if>
    
    <#assign x=0>

    <div class="row">
        <#if aziende?? && aziende?size != 0>
        <#list aziende as azienda>
        
        <#include "fragments/companyCard.ftl.html">
        
        <#assign x++>
        <#if x==3>
    </div>
    <div class="row">
        <#assign x=0>
        </#if>
        </#list>
    </div>
    
    <#include "fragments/pager.ftl.html">
    
</nav>
    
    <#else>
    <#if searchString??>
    Nessuna azienda trovata
    <#else>
    Nessuna azienda convenzionata
    </#if>
    </#if>