<div class="card  shadow">
<div class="card-body">
<nav class="nav nav-underline m-0 p-0">
    <h1 class="text-secondary" id="tirocini">
        Aziende convenzionate
    </h1>
        <form class="form-inline ml-auto my-2 my-lg-0" method="get">
            <input id="search-aziende" class="form-control mr-sm-2"
                   name="q" 
                   <#if searchString??>
                   value="${searchString}"
                   autofocus
                   </#if>
                   type="text" placeholder="Cerca..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" 
                type="submit">
                        <i class="fas fa-search"></i>
            </button>
        </form>
    </nav>
    <small class="text-muted">
        ${numAziende} aziende attualmente convenzionate
    </small>
</div>
    <div class="card-footer">
    
    <#if searchString??>
    <p class="text-secondary">
        Aziende rilevanti per <span class="text-primary">"${searchString}"</span>: 
        trovate <b>${aziende?size}</b> corrispondenze
    </p>
    </#if>
    
    <div class="card-columns mb-4">
        <#if aziende?? && aziende?size != 0>
        <#list aziende as azienda>
        
        <#include "fragments/companyCard.ftl.html">
        
        </#list>
    </div>
    
    <#if ! searchString??>
        <#include "fragments/pager.ftl.html">
    </#if>
    
    <#else>
    <#if searchString??>
    Nessuna azienda trovata
    <#else>
    Nessuna azienda convenzionata
    </#if>
    </#if>
    
</div>
</div>
