<div>

    <h2> ${aziendac.nome} </h2>

<hr>

${aziendac.descrizione}

<hr>

Sede: ${aziendac.sede} <br>
Foro Competenza: ${aziendac.foroCompetenza} <br>
IVA: ${aziendac.iva} <br>

<hr>

<h4> Responsabile </h4>

Responsabile: ${aziendac.nomeResponsabile} ${aziendac.cognomeResponsabile} <br>
Telefono: ${aziendac.telefonoResponsabile} <br>
email: ${aziendac.emailResponsabile}

<hr>

<h4> Informazioni legali </h4>

Legale: ${aziendac.nomeCognomeLegale}

<hr>

<button> Genera PDF di convenzionamento </button> <br>

<hr>

<form name="Uploadconvenzione" action="" method="post">
    <label for="Convenzione">Carica convenzione firmata: </label> <br>
<input type="file" id="Convenzione" name="Convenzione" />

<button type="submit" form="Uploadconvenzione"> Convenziona </button>
</form>
<br>



</div>