<div class="card  shadow">
    <div class="card-body">
        <h1> Generazione File Tirocinio </h1>

        Studente: <a href="student?id=${studenteT.key}"> ${studenteT.nome} ${studenteT.cognome}</a> <br>
        Offerta: <a href="DettagliOfferta?o=${offerta.key}"> Offerta a ${offerta.luogo} </a>

    </div>
    <div class="card-footer">

        <form method="POST" action="StartTirocinio">
            <input type="hidden" id="sid" name="sid" value="${studenteT.key}">
            <input type="hidden" id="aid" name="aid" value="${aziendaT.key}">
            <input type="hidden" id="oid" name="oid" value="${offerta.key}">


            <div class="container pt-3 pb-3 col-sm-8">

                <p class="text-center">
                    Conferma dati studente:
                </p>
                <div class="form-group row p-0">
                    <div class="col">
                        <input class="form-control text-center" required="required" value="${studenteT.nome}" placeholder="Nome">
                    </div>
                    <div class="col">
                        <input class="form-control text-center" required="required" value="${studenteT.cognome}" placeholder="Cognome">
                    </div>
                </div>
                
                <div class="form-group row p-0">
                    <div class="col">
                        <label> Nato a </label>
                        <input class="form-control text-center" required="required" value="${studenteT.luogoNascita}">
                    </div>
                    <div class="col">
                        <label> Provincia di nascita </label>
                        <input id="proviNstudente" name="proviNstudente" class="form-control text-center" required="required" placeholder="Provincia di" autofocus>
                    </div>
                </div>
                
                <div class="form-group row p-0">
                    <div class="col">
                        <label> Residente a </label>
                        <input class="form-control text-center" required="required" value="${studenteT.residenza}">
                    </div>
                    <div class="col">
                        <label> Provincia di residenza </label>
                        <input id="proviRstudente" name="proviNstudente" class="form-control text-center" required="required" placeholder="Provincia di" autofocus>
                    </div>
                </div>

                <h3 class="text-center">Compilazione modulo tirocinio</h3>
                <div class="form-group row p-0">
                    <div class="col">
                        <label for="inizio"> Inizio </label>
                        <input id="inizio" name="inizio" type="date" class="form-control text-center" required="required">
                    </div>
                    <div class="col">
                        <label for="fine"> Fine </label>
                        <input id="fine" name="fine" type="date" class="form-control text-center" required="required"/>
                    </div>
                </div>

                <div class="form-group">
                    <input id="settoreinserimento" name="settoreinserimento" placeholder="Settore Inserimento" class="form-control text-center" required="required">
                </div>

                <div class="form-group">
                    <input id="tempodiaccesso" name="tempodiaccesso"  type="text" placeholder="Tempo di Accesso" class="form-control text-center" required="required">
                </div>

                <div class="form-group ">
                    <input id="numeroore" name="numeroore"  type="text" placeholder="Numero ore" class="form-control text-center" required="required">
                </div>

                <div class="form-group ">
                    <input id="tutoreuniversitario" name="tutoreuniversitario" placeholder="Tutore Universitario" class="form-control text-center" required="required">
                </div>
                <div class="form-group ">
                    <input id="telefonoTutoreUniv" name="telefonoTutoreUniv" placeholder="Telefono Tutore Universitario" class="form-control text-center" required="required">
                </div>

                <div class="form-group ">
                    <input id="tutoreaziendale" name="tutoreaziendale"  type="text" placeholder="Tutore Aziendale" class="form-control text-center" required="required">
                </div>
                <div class="form-group ">
                    <input id="telefonoTutoreAzien" name="telefonoTutoreAzien"  type="text" placeholder="Telefono Tutore Aziendale" class="form-control text-center" required="required">
                </div>

                
                <button type="submit" class="btn btn-block btn-primary">
                    Crea Progetto Formativo </button>
            </div>
        </form>

    </div>
</div>