<div class="card still-b shadow">
<div class="card-body row p-0 m-0">
<div class="col-lg-4 p-lg-5 bginfo">
<#if aziendap??>
<h2 class="text-dark">${aziendap.nome}</h2>
    <hr>
<div>
    <h5>Descrizione azienda</h5>
    ${aziendap.descrizione} <br>
    <hr>
    <h5>Informazioni azienda</h5>
    ${aziendap.sede}  <br>
    ${aziendap.nomeResponsabile} ${aziendap.cognomeResponsabile} <br>
    ${aziendap.telefonoResponsabile}
</div>
    
<hr>
</div>
    
    <div class="col-lg-8 p-lg-5">
    <#if offerte?? && offerte?size != 0>
    
    <h3 class="text-center text-secondary">
       Tirocini di questa azienda:
    </h3>
    <hr>
    <div class="col-lg-8 mx-auto">
    <#list offerte as offerta>
    <div class="container-fluid m-0 my-5 p-0 ">
    <#include "fragments/offerCard.ftl.html">
    </div>
    </#list>
    </div> 
</#if>

<#else>
<p>
    Quale azienda?
</p>
</#if>
    </div>
</div>
</div>
