<div id="body" class="container col-lg-10 p-auto mx-auto mt-0 pt-3">
<#if aziendap??>
<h1 class="text-dark" id="details-title">${aziendap.nome}</h1>
    <hr id='hr1'>
<div>
    ${aziendap.descrizione} <br>
    <hr>
    ${aziendap.sede}  <br>
    ${aziendap.nomeResponsabile} ${aziendap.cognomeResponsabile} <br>
    ${aziendap.telefonoResponsabile}
</div>
    
<hr>

    <#if offerte?? && offerte?size != 0>
    
    <h4 class="text-center text-secondary">
        Offerte di tirocinio presso questa azienda:
    </h4>
    <br>
    
    <#list offerte as offerta>

    <#include "fragments/offerCard.ftl.html">
    
    </#list>
</#if>

<#else>
<p>
    Quale azienda?
</p>
</#if>
</div>