<#ftl encoding='UTF-8'>
<footer class="footer bg-footer mt-auto py-0 text-secondary">
    <div id="navContainer" class="container">
        <div class="row m-3 p-0 ">
            <div class=" mx-auto ">
                
            <a href="https://www.youtube.com/c/univaq" target="_blank" title="Youtube" class="youtube">  <i class="fab fa-youtube fa-2x mx-3"></i></a>
         
            <a href="https://twitter.com/univaq" target="_blank" title="Twitter" class="twitter"><i class="fab fa-twitter fa-2x mx-3"></i></a>
           
              <a href="https://www.facebook.com/univaq.it" target="_blank" title="Facebook" class="facebook"><i class="fab fa-facebook-f fa-2x mx-3"></i></a>    
             
            </div>
        </div>
        </div>
        <div class="row m-0 p-0">
            <!--
            <div class=" col-sm col-md pull-right">
                 <p>Servlet ${class}</p>
            </div>
            <div class="col-sm col-md pull-left">
                -->
                <div class="mx-auto">
                    <p class="text-center"> <a href="https://www.univaq.com">Università degli Studi dell'Aquila </a></p>
                    <p> Palazzo Camponeschi, piazza Santa Margherita 2, 67100 L'Aquila <i class="fas fa-minus fa-1x"></i> Developed with <i class="fas fa-keyboard fa-1x"></i> and <i class="fas fa-mouse fa-1x"></i> </p>
            </div>
        </div>
    
</footer>

     