<header class="fixed-top">
    <div id="navContainer" class="container"></div>
    <nav class=" navbar navbar-expand-lg navbar-expand-md navbar-dark bg-scuro">

        <a href="#" class="navbar-brand  text-light">
            <img class="navbar-brand" id="logo" src="img/logo.png" width="60" height="60"
                 alt="logo">
            Internship Tutor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item mr-4 ml-4">
                    <a href="registrazione.html" class="nav-link text-light">Iscriviti</a>
                </li>
                <li class="nav-item mr-4 ml-4">
                    <a href="login.html" class="nav-link text-light">Accedi</a>
                </li>

            </ul>


        </div>

    </nav>
</header>
