<div id="body" class="col-md-9 col-sm-12">
    <h1 class="text-dark" id="tirocini">Tirocini disponibili</h1>
    <hr>

    <#assign x=0>

    <div class="row">
        <#if offerte?? && offerte?size != 0>
        <#list offerte as offerta>

        <div class="col-md col-sm-12 ">
            <div class="card text-white  mb-3 bg-primary">
                <div class="card-header bg-altro">
                    <h2 class="card-title">Tirocinio</h2>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Azienda</h3>
                    <p class="card-text">${offerta.orari}</p>
                    <p class="card-text">${offerta.luogo}</p>
                    <hr>
                    <h3 class="card-title">Descrizione</h3>
                    <p class="cardtext">${offerta.obiettivi}</p>
                    <a class="text-light cardtext text-right" href="tirocinio">Mostra dettagli</a>
                </div>

            </div>
        </div>
        <#assign x++>
        <#if x==3>
    </div>
    <div class="row">
        <#assign x=0>
        </#if>
        </#list>
        <#else>Nessun tirocinio disponibile
        </#if>
    </div>

    <hr>


    <div>
        <h1 class="text-dark" id="aziende">Lista Aziende</h1>
        <hr>

        <#if aziende?? && aziende?size != 0>
        <#list aziende as azienda>
        <div>
            <h1>${azienda.nome}</h1>
            <p>${azienda.descrizione}</p>
        </div>
        </#list>
        <#else>Nessuna azienda convenzionata
        </#if>

    </div>
</div>
