
    <h1 class="text-secondary" id="tirocini">Offerte disponibili</h1>
   
    <#assign x=0>

    <div class="row m-0 p-0">
        <#if offerte?? && offerte?size != 0>
        <#list offerte as offerta>

        <#include "fragments/offerCard.ftl.html">
        
        <#assign x++>
        <#if x==2>
    </div>
    <div class="row">
        <#assign x=0>
        </#if>
        </#list>
    </div>
    <a class="btn btn-block btn-outline-success p-3 mb-4" href="Offers">Mostra tutte le offerte</a>
    <#else>Nessun tirocinio disponibile
    </#if>

    <hr>
    <br class="">

    <div class="mb-5">
        <h1 class="text-secondary pb-4 text-center" id="aziende">Aziende convenzionate</h1>
        <#if aziende?? && aziende?size != 0>
        <#list aziende as azienda>
        
        <#include "fragments/companyCard.ftl.html">
        
        </#list>
    </div>

    <a class="btn btn-block btn-outline-success p-3 mb-4" href="Companies">
        Mostra tutte le aziende</a>
    <#else>Nessuna azienda convenzionata
    </#if>
