
    <h1 class="text-secondary" id="tirocini">Offerte disponibili</h1>
    <hr>

    <#assign x=0>
 <div class="container">
    <div class="row">
        <#if offerte?? && offerte?size != 0>
        <#list offerte as offerta>

        <div class="col-md col-sm-12 py-2 ">
            <div class="card h-100 mb-3 border border-primary shadow">
              
                <div class="card-body">
                    <h5 class="card-title">
                        <small class="text-secondary">presso</small>
                        <a class="text-dark"
                           href="DettagliAzienda?a=${offerta.azienda.key}">
                            ${offerta.azienda.nome}</a></h5>
                    <p class="card-text">
                        ${offerta.orari}, 
                        <strong>${offerta.luogo}</strong></p>
                    <hr>
                    <p class="cardtext">${offerta.obiettivi}</p>
                </div>
                <a class="card-footer text-white cardtext btn bg-altro details"
                   href="DettagliOfferta?o=${offerta.key}">Mostra dettagli</a>
            </div>
        </div>
        <#assign x++>
        <#if x==3>
    </div>
    <div class="row">
        <#assign x=0>
        </#if>
        </#list>
    </div>
    <a class="btn btn-block btn-outline-success p-3 mb-4" href="Offers">Mostra tutte le offerte</a>
    <#else>Nessun tirocinio disponibile
    </#if>
 </div>
    <br class="p-2">
   
    <div class="mb-5">
        <h1 class="text-secondary" id="aziende">Aziende convenzionate</h1>
        
        <hr>
        <div class="container">

        <#if aziende?? && aziende?size != 0>
        <#list aziende as azienda>
        <div class="col-md col-sm-12 ">
            <div class="card mb-3 shadow">
                <div class="card-body">
                    <h2 class="card-title text-primary">${azienda.nome}</h2>
                    <hr>
                    <p class="card-text text-secondary">${azienda.descrizione}</p>
                </div>
                <a class="card-footer text-secondary cardtext btn btn-light bnt-outline-primary details" 
                   href="DettagliAzienda?a=${azienda.key}">Mostra dettagli</a>
            </div>
        </div>
        </#list>

            
    
    <a class="btn btn-block btn-outline-success p-3 mb-4" href="Companies">
        Mostra tutte le aziende</a>
        </div>
    <#else>Nessuna azienda convenzionata
    </#if>
    
    </div>