  <div class="row h-100">
   <aside class="col-lg-3 col-md-3  h-100 col-flex  d-none d-md-block">
     <div class=" navbar-brand ml-2 mt-4 mr-4">
      <a href="index.html" class="brand text-decoration-none text-light" id="logo">
          <img class="image-fluid mr-3 " src="img/logo interniship tutor.png.png" width="60" height="60" alt="logo internship">
          Internship Tutor</a> 
    </div>
  
  </aside>
 
     

  
  <main class="col-lg-9  col-md-9 d-flex col-sm-12">
   
    <div id="loginForm" class="">
      <div id="logo-hide-lg" class="d-block d-md-none row  ">
        <a href="index.html" class=" text-decoration-none " id="logosmall"><img class="image-fluid mr-3  " src="img/logo interniship tutor blu.png" width="60" height="60" alt="logo internship">Internship Tutor</a> 
      </div>
        <div >
            <h1 class="h2">Accedi</h1>
            <form>
                <div class="form-group mb-4">
                    <label for="inputEmail" class="inputarea">Email</label>
                    <input type="text" class="form-control" for="inputEmail" placeholder="john@domain.com" >
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="inputarea">Password</label>
                 
                    <input type="password" class="form-control" for="inputPassword" placeholder="Password"  autocomplete="nope">
                    <a class="float-right mt-2" href="#">
                      Password dimenticata?
                  </a>
                    <small id="signInError" class="form-text text-danger d-none"></small>
                    <small id="signInNotification" class="form-text text-success d-none"></small>
                </div>

                <button type="submit" class="btn btn-md-block btn-primary mt-5 text-uppercase ">Accedi</button>

            </form>
            <div class="row text-lg-right m-5 align-left">
             <span> Non hai un'account?
              <a href="registrazione.html">Registrati</a>
            </span>
            </div>
       </div>
  
</main>

  </div>

  
</div>