<div id="loginForm" class="">
   
    <div>
        <h1 class="h2">Accedi</h1>
        <form method="POST">
            <div class="form-group mb-4">
                <label for="inputEmail" class="inputarea">Email</label>
                <input name="u" type="text" class="form-control" 
                       placeholder="john@domain.com" autofocus required>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="inputarea">Password</label>

                <input name="p" type="password" class="form-control" 
                       placeholder="Password"  autocomplete="off" required>
                <a class="float-right mt-2" href="#">
                    <small>
                    Password dimenticata?
                    </small>
                </a>
                <small id="signInError" class="form-text text-danger d-none"></small>
                <small id="signInNotification" class="form-text text-success d-none"></small>

            <button type="submit" class="btn btn-block btn-primary mt-5 text-uppercase ">Accedi</button>
            </div>

        </form>
        <div class="row text-secondary">
            <span> 
                Non hai un'account?
                <a href="Registration" class="btn btn-outline-primary">Registrati</a>
            </span>
        </div>
    </div>

</div>