<#ftl encoding='UTF-8'>
<div class="card mx-auto col-6">
    <div class="card-body text-center">
        <h3 class="text-center">Crea nuova offerta</h3>
    </div>
    <div class="card-footer">
        <form method="POST">


            <div class="form-group mt-4 ">
                <input name="luogo" type="text" placeholder="Luogo" class="form-control text-center" required="required" autofocus>
            </div>

            <div class="form-group">
                <input name="orari" type="text" placeholder="Orari" class="form-control text-center" required="required"/>
            </div>
            <div class="form-group">
                <input name="durata" placeholder="Durata" class="form-control text-center" required="required">
            </div>

            <div class="form-group">
                <input name="obiettivi"  type="text" placeholder="Obiettivi" class="form-control text-center" required="required">
            </div>
            <div class="form-group ">
                <input name="modalità"  type="text" placeholder="Modalità" class="form-control text-center" required="required">
            </div>
            <div class="form-group ">
                <textarea name="descrizione" placeholder="Descrizione (dummy)" class="form-control text-center" required="required"></textarea>
            </div>
            <div class="form-group ">
                <input name="rimborsoSpese"  type="text" placeholder="Rimborso spese" class="form-control text-center" required="required">
            </div>
            <button type="submit" class="btn btn-block btn-primary text-uppercase">Crea offerta</button>



        </form>

    </div>
</div>