<!DOCTYPE html>
<html lang="en">

    <head>
        <#include "fragments/htmlhead.ftl.html">

       
        <link rel="stylesheet" href="style/regChoose.css">
              
        <title>Intership Tutor - ${page_title} </title>

    </head>

    <body>

        <div class="container-fluid h-100">
            <div class="row h-100">
                <aside class="col-lg-3 col-md-3 col-flex  d-none d-lg-block animated slideInLeft  bg-primary fast">
                    <div class=" navbar-brand mt-4 mx-auto">
                        
                        <a href="Home" class="brand text-decoration-none text-light" id="logo">
                            <i class="fa fa-angle-left fa-4x align-middle mr-3" aria-hidden="true"></i>
                            <img class="image-fluid mr-0 " src="img/logo.png" width="60" height="60" alt="logo internship">
                            Internship Tutor</a> 
                    </div>

                </aside>




                <main id="body" class="col-lg-9  col-md-9 d-flex col-sm-12">

                    <#include content_tpl>

                </main>

            </div>
        </div>
    </body>

</html>