<!DOCTYPE html>

<html lang="it">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Intership, Tutor, Tirocinio, Studenti, Student">
        <meta name="description" content="Servizio web per la gestione di tirocinii per studenti e aziende">
        <meta name="author" content="Andrea D'angelo, Carlo Antonio Venditti, Zappacosta Francesco">
        <title>Intership Tutor - ${page_title} </title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>

        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>

        <script>
            var baseURL = "http://localhost:8080/tirocini/";

            function setModalsEvents() {
                $('.details').on('click', function (e) {
                    e.preventDefault();
                    var dataURL = baseURL + $(this).attr('href');
                    $.ajax({
                        type: "GET",
                        url: dataURL,
                        data: {"dyn": ""},
                        beforeSend: function () {
                            //$(".post_submitting").show().html("<center><img src='images/loading.gif'/></center>");
                        },
                        success: function (response) {
                            //$(".post_submitting").fadeOut(1000);
                            $("#detailsModalBody").html(response);
                            $('#detailsModal').modal('show');
                            //$('.modal-title').replaceWith($('.details-title'));
                        },
                        error: function (jqXHR, exception) {
                            // Note: Often ie will give no error msg. Aren't they helpful?
                            console.log('ERROR: jqXHR, exception', jqXHR, exception);
                        }
                    });
                    e.preventDefault();
                });
            }
            ;

            $(document).ready(function () {

                setModalsEvents();

                $('.nav-link, .navbar-brand').on('click', function (e) {
                    e.preventDefault();
                    var dataURL = baseURL + $(this).attr('href');
                    history.pushState(undefined, '', dataURL);
                    $.ajax({
                        type: "GET",
                        url: dataURL,
                        data: {"dyn": ""},
                        beforeSend: function () {
                            //$(".post_submitting").show().html("<center><img src='images/loading.gif'/></center>");
                            $("#body").fadeOut(10);
                            $(".footer").fadeOut(10);
                            $('.nav-item').removeClass('active');
                            $(this).parent('.nav-item').addClass('active');
                        },
                        success: function (response) {
                            $("#body").html(response);
                            $("#body").fadeIn(500);
                            $(".footer").fadeIn(500);
                            setModalsEvents();
                            //$(".post_submitting").fadeOut(1000);

                        },
                        error: function (jqXHR, exception) {
                            // Note: Often ie will give no error msg. Aren't they helpful?
                            console.log('ERROR: jqXHR, exception', jqXHR, exception);
                        }
                    });
                    e.preventDefault();
                });
            });
        </script>

        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>

        <link rel="stylesheet" href="style/style.css">


    </head>

    <body class="d-flex flex-column h-100">
        <!-- Begin page content -->
        <main role="main" class="flex-shrink-0">

            <#include "header.ftl.html">
            <!--
              <div class="container-fluid pl-0 pr-0">
               <section id="showcase">
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos hic eaque modi pariatur ad. Deserunt id nihil, iste ipsum totam corrupti velit sapiente explicabo, fugit ipsam nobis non quidem repellat.</p>
               </section> 
              </div>
            -->
            <div id="body" class="col-lg-10 p-auto mx-auto mt-0 pt-0">
                <#include content_tpl>
            </div>

        </main>


        <!-- Modal -->
        <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="detailsModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="detailsModalBody" class="modal-body">
                    </div>
                    <!--
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
                    -->
                </div>
            </div>
        </div>

        <#include "footer.ftl.html">

    </body>

</html>