<!DOCTYPE html>

<html lang="it" class="h-100 p-0 m-0">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Intership, Tutor, Tirocinio, Studenti, Student">
        <meta name="description" content="Servizio web per la gestione di tirocinii per studenti e aziende">
        <meta name="author" content="Andrea D'angelo, Carlo Antonio Venditti, Zappacosta Francesco">
        <title>Intership Tutor - ${page_title} </title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>

        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">


        <script src="JS/main-script.js"></script>

        <link rel="stylesheet" href="style/style.css">


    </head>

    <body class="d-flex flex-column h-100 p-0 pt-5  m-0 mt-5">
        <!-- Begin page content -->
        <main role="main" class="flex-shrink-0">

            <#include "header.ftl.html">
            <!--
              <div class="container-fluid pl-0 pr-0">
               <section id="showcase">
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos hic eaque modi pariatur ad. Deserunt id nihil, iste ipsum totam corrupti velit sapiente explicabo, fugit ipsam nobis non quidem repellat.</p>
               </section> 
              </div>
            -->
            <div id="body" class="col-lg-10 p-auto mx-auto mt-0 pt-0 animated fadeIn duration-1s">
                <#include content_tpl>
            </div>

        </main>


        <!-- Modal -->
        <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header mt-0">
                        <h1 class="modal-title" 
                            id="detailsModalLabel"></h1>
                        <button type="button" class="close mt-1 mr-1" 
                                data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="detailsModalBody" class="modal-body">
                    </div>
                        <!--
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                        -->
                </div>
            </div>
        </div>

        <#include "footer.ftl.html">

    </body>

</html>