<div>
    <h1> Profilo di ${studentep.nome} ${studentep.cognome}
</div>

<div>
    <h2 class="text-dark" id="aziende">Informazioni</h2>
    Data di Nascita: ${studentep.dataNascita} <br>
    Luogo di Nascita: ${studentep.luogoNascita} <br>
    email: ${studentep.email} <br>
   
</div>
<hr>



<div>
    

    <#if tirocini?? && tirocini?size != 0>
    <h2 class="text-dark" id="aziende">Lo studente è attualmente impegnato nei seguenti tirocini:</h2>
    <hr>
    <#list tirocini as tirocinio>
     <div class="col-md col-sm-12 ">
     <div class="card text-white  mb-3 bg-primary">
         <div class="card-body">
                    <h5 class="card-title">
                        <small class="text-light">presso</small>
                        ${tirocinio.azienda.nome}</h5>
                    <p class="card-text">${tirocinio.offerta.orari}</p>
                    <p class="card-text">${tirocinio.offerta.luogo}</p>
                    <hr>
                    <h3 class="card-title">Descrizione</h3>
                    <p class="cardtext">${tirocinio.offerta.obiettivi}</p>
                    <a class="card-footer text-light cardtext btn bg-altro" href="DettagliOfferta?o=${tirocinio.offerta.key}">Mostra dettagli</a>
         </div>
      </div>
     </div>
    </#list>
    </#if>
</div>