  <div class="container  w-100 h-100 p-0 pt-lg-5">
     <#include "/fragments/reg_logo.ftl.html">
  <form class=" m-auto p-lg-5 w-100  bg-white" style="border-radius: 12px;" method="POST">
      <div class="conteiner p-4 p-lg-5 m-0 mx-lg-4 mb-4">


      
        <h2 class="mb-1 text-center text-primary">Credenziali di accesso:</h2>
        <label class="mb-4 d-block text-center">Inserisci i dati necessari ai tuoi prossimi accessi nel sistema.</label>
       
        
          <div class="form-group mb-5">
              <label for="inputmail">Indirizzo Email:</label>
              <input name="email"  type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email"
                     required="required">
          </div>

      
        <div class="form-group mb-5" >
          <label>Password:</label>
          <input name="password" placeholder="Password..." class="form-control" type="password" required="required">
        </div>
     

        <hr class="mt-3 mb-5 w-50 bg-dark shadow">




        <h2 class="mb-1 text-center text-primary">Anagrafica:</h2>
        <label class="mb-4 d-block text-center">Inserisci le tue informazioni personali.</label>
        <div class="form-group mb-5">
          <label>Nome:</label>
          <input name="nome" type="text" placeholder="Inserisci il tuo Nome..." class="form-control" required="required">
      </div>
      <div class="form-group mb-5">
          <label>Cognome:</label>
          <input name="cognome" type="text" placeholder="Inserisci il tuo Cognome..." class="form-control" required="required">
      </div>
      <div class="form-group mb-5">
          <label>Data di nascita:</label>
          <input name="dataNascita" type="date" class="form-control" min="1900-01-01" max="2020-12-31" required="required" />
      </div>
      <div class="form-group mb-5">
          <label>Luogo di nascita:</label>
          <input name="luogoNascita" placeholder="Inserisci il tuo Luogo di nascita..." class="form-control" required="required">
      </div>
        <div class="form-group mb-5">
          <label>Provincia di nascita:</label>
          <input name="provinciaNascita" placeholder="Inserisci la tua Provincia di nascita..." class="form-control" required="required">
      </div>
      <div class="form-group mb-5">
          <label>Codice Fiscale:</label>
          <input name="CF" placeholder="Inserisci Codice Fiscale..." class="form-control" required="required">

      </div>
      <div class="form-group mb-5">
          <label>Residenza:</label>
          <input name="residenza" placeholder="Inserisci la tua Residenza..." class="form-control" required="required">
      </div>
        <div class="form-group mb-5">
          <label>Provincia di residenza:</label>
          <input name="provinciaResidenza" placeholder="Inserisci la tua Provincia di residenza..." class="form-control" required="required">
      </div>
      <div class="form-group mb-5">
          <label>Numero di telefono:</label>
          <input name="telefono" type="tel" placeholder="Inserisci il tuo numero di telefono" class="form-control" required="required">
      </div>

      <div class="form-group row mb-5">
          <div class="ml-3">Sei portatore di handicap?</div>
          <div class="ml-3 custom-control custom-checkbox">
              <input name="handicap" type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1"></label>
          </div>
      </div>
        
      
        <hr class="mt-3 mb-5 w-50 bg-dark shadow">
 
     
        <h2 class="mb-1 text-center text-primary">Dettagli studio:</h2>
        <label class="mb-4 d-block text-center">Inserisci le informazioni relative al tuo percorso di studi.</label>
          <div class="form-group  mb-5">
            <label>Diploma:</label>
            <input name="diploma" type="text" placeholder="Inserisci il tuo diploma" class="form-control" required="required">
        </div>
        <div class="form-group mb-5">
            <label>Corso di Laurea:</label>
            <input name="laurea" type="text" placeholder="Inserisci il tuo Corso di Laurea" class="form-control"
                   required="required">
        </div>
        <div class="form-group mb-5">
            <label>Specializzazione:</label>
            <input name="specializzazione" type="text" placeholder="Inserisci la tua Specializzazione" class="form-control">
        </div>
        <div class="form-group mb-5">
            <label>Numero cfu da acquisire: </label>
            <input type="number" name="CFU" min="0" max="160" class="form-control" required="required" />
        </div>

    
      
        <button class="btn btn-primary float-right" type="submit">Submit form</button>
     
      
      </div>
  </form>


</div>


























<!-- MultiStep Form 
 <div class="row w-100 h-100">

    <form class="container m-auto position-relative" method="POST">



      <!-- primo step (aggiungi "animated fadeInLeftBig" se vogliamo fare le animazioni)
      <div id="step_1" class=" container p-5 w-75  position-relative shadow  bg-white rounded">
        <h2 class="mb-1">Credenziali di accesso:</h2>
        <label class="mb-3">Inserisci i dati necessari ai tuoi prossimi accessi nel sistema.</label>
       
        <div id="inputmail">
          <div class="form-group">
              <label for="inputmail">Indirizzo Email:</label>
              <input name="email"  type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email"
                     required="required">
          </div>

      </div>
        <div class="form-group">
          <label>Password:</label>
          <input name="password" placeholder="Password..." class="form-control" type="password" required="required">
        </div>
        <div class="container-fluid pb-3 pt-2">
        <input id="next_1" type="button" name="next" class="btn btn-primary next action-button  float-right" onclick="Confirm(this)"
          value="Next" />
        </div>
      </div>





      <!-- secondo step 
      <div id="step_2" class=" w-75 container p-5 position-relative d-none shadow  bg-white rounded">
        <h2 class="mb-5">Anagrafica:</h2>
        <label class="mb-3">Inserisci le tue informazioni personali.</label>
        <div class="form-group mt-4">
          <label>Nome:</label>
          <input name="nome" type="text" placeholder="Inserisci il tuo Nome..." class="form-control" required="required">
      </div>
      <div class="form-group">
          <label>Cognome:</label>
          <input name="cognome" type="text" placeholder="Inserisci il tuo Cognome..." class="form-control" required="required">
      </div>
      <div class="form-group">
          <label>Data di nascita:</label>
          <input name="dataNascita" type="date" class="form-control" min="1900-01-01" max="2020-12-31" required="required" />
      </div>
      <div class="form-group">
          <label>Luogo di nascita:</label>
          <input name="luogoNascita" placeholder="Inserisci il tuo Luogo di nascita..." class="form-control" required="required">
      </div>
      <div class="form-group">
          <label>Codice Fiscale:</label>
          <input name="CF" placeholder="Inserisci Codice Fiscale..." class="form-control" required="required">

      </div>
      <div class="form-group">
          <label>Residenza:</label>
          <input name="residenza" placeholder="Inserisci la tua Residenza..." class="form-control" required="required">
      </div>
      <div class="form-group">
          <label>Numero di telefono:</label>
          <input name="telefono" type="tel" placeholder="Inserisci il tuo numero di telefono" class="form-control" required="required">
      </div>

      <div class="form-group row">
          <div class="ml-3">Sei portatore di handicap?</div>
          <div class="ml-3 custom-control custom-checkbox">
              <input name="handicap" type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1"></label>
          </div>
      </div>
        <div class="container-fluid pb-3 pt-2">
        <input id="previous_2" type="button" name="previous" class="btn btn-secondary float-left" value="Previous" onclick="Previous(this)" />
        <input id="1" type="button" name="next" class="btn btn-primary float-right" value="Next" onclick="Confirm(this)" />
      </div>
      
    </div>


      <!-- terzo step 
      <div id="step_3" class=" w-75 container p-5 position-relative d-none shadow  bg-white rounded">
        <h2 class="mb-5">Dettagli studio::</h2>
        <label class="mb-3">Inserisci le informazioni relative al tuo percorso di studi.</label>
          <div class="form-group mt-4">
            <label>Diploma:</label>
            <input name="diploma" type="text" placeholder="Inserisci il tuo diploma" class="form-control" required="required">
        </div>
        <div class="form-group">
            <label>Corso di Laurea:</label>
            <input name="laurea" type="text" placeholder="Inserisci il tuo Corso di Laurea" class="form-control"
                   required="required">
        </div>
        <div class="form-group">
            <label>Specializzazione:</label>
            <input name="specializzazione" type="text" placeholder="Inserisci la tua Specializzazione" class="form-control"
                   required="required">
        </div>
        <div class="form-group">
            <label>Numero cfu acquisiti:</label>
            <input type="number" name="CFU" min="0" max="160" class="form-control" required="required" />
        </div>

    
      <div class="container-fluid pb-3 pt-2">
        <input id="previous_3" type="button" name="previous" class="btn btn-secondary float-left" value="Previous" onclick="Previous(this)" />
        <button class="btn btn-primary float-right" type="submit">Submit form</button>
      </div>
      </div>
      <div class="progress w-75 mx-auto">
        <div id="progressbar" class="progress-bar w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </form>


  </div>
  <script>
    function Confirm(step) {
     
      if (step.id == "next_1") {
       // document.getElementById('step_one').classList.add('fadeOutRightBig');
        document.getElementById('step_1').classList.add('d-none');
        document.getElementById('progressbar').classList.remove('w-25');
        document.getElementById('progressbar').classList.add('w-50');
        document.getElementById('step_2').classList.remove('d-none');
       // document.getElementById('step_two').classList.add('animated', 'fadeInRightBig');
      } 
       if (step.id =='1') {
        
      //  document.getElementById('step_two').classList.add('fadeOutRightBig');
        document.getElementById('step_2').classList.add('d-none');
        document.getElementById('progressbar').classList.remove('w-50');
        document.getElementById('progressbar').classList.add('w-75');
        document.getElementById('step_3').classList.remove('d-none');
       // document.getElementById('step_three').classList.add('animated', 'fadeInRightBig');

      } //else if (step =="") {}

    }

    function Previous(step){
      if (step.id == "previous_2") {
        //document.getElementById('step_two').classList.add('fadeOutRightBig');
        document.getElementById('step_2').classList.add('d-none');
        document.getElementById('progressbar').classList.remove('w-50');
        document.getElementById('progressbar').classList.add('w-25');
       document.getElementById('step_1').classList.remove('d-none');//,'fadeOutRightBig');
       // document.getElementById('step_one').classList.add( 'fadeInRightBig');
      } else if (step.id == "previous_3") {
       // document.getElementById('step_three').classList.add('fadeOutRightBig');
        document.getElementById('step_3').classList.add('d-none');
        document.getElementById('progressbar').classList.remove('w-75');
        document.getElementById('progressbar').classList.add('w-50');
        document.getElementById('step_2').classList.remove('d-none');
       // document.getElementById('step_two').classList.add('animated', 'fadeInRightBig');

      } 
    }
   
  </script>
-->
