<ul id="grafico" class="bar-graph">
  <li class="bar-graph-axis">
    <div class="bar-graph-label">100%</div>
    <div class="bar-graph-label">80%</div>
    <div class="bar-graph-label">60%</div>
    <div class="bar-graph-label">40%</div>
    <div class="bar-graph-label">20%</div>
    <div class="bar-graph-label">0%</div>
  </li>
  
  <li class="bar primary" style="height: 95%;" title="95">
    <div class="percent">${cinquestelle}</div>
    <div class="description"><a id="cinquestelle"> Cinque Stelle</a></div>
  </li>
  <li class="bar secondary" style="height: 90%;" title="90">
    <div class="percent">${quattrostelle}</div>
    <div class="description">Quattro stelle</div>
  </li>
  <li class="bar success" style="height: 80%;" title="80">
    <div class="percent">${trestelle}</div>
    <div class="description">Tre Stelle</div>
  </li>
  <li class="bar warning" style="height: 75%;" title="75">
    <div class="percent">${duestelle}</div>
    <div class="description">Due Stelle</div>
  </li>
  <li class="bar alert" style="height: 40%;" title="40">
    <div class="percent">${unastella}</div>
    <div class="description">Una stella</div>
  </li>
</ul>

<#if voti?? && voti?size != 0>


<h4> Commenti </h4>

 <div id="commento">
 
<#list voti as voto>
<#if voto.commento??>
           
 <ul id="commenti">
            
<li>
    <h6> <a href="student?id=${voto.studente.key}">${voto.studente.nome} ${voto.studente.cognome}</a> ha commentato: <br></h6>
        ${voto.commento} <br>
        La valutazione data &egrave; ${voto.stelle}/5.
        <hr>
</li>

 </ul>
</#if>

</#list>
        
 </div>
</#if>


 <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script>
           $(document).on("click", "#cinquestelle", function() {  // When HTML DOM "click" event is invoked on element with ID "somebutton", execute the following function...
            $.get("updatecommenti", function(responseJson) {    // Execute Ajax GET request on URL of "someservlet" and execute the following function with Ajax response JSON...
            var $ul = $("<ul>").appendTo($("#commento")); // Create HTML <ul> element and append it to HTML DOM element with ID "somediv".
            $.each(responseJson, function(index, item) { // Iterate over the JSON array.
            $("<li>").text(item).appendTo($ul);      // Create HTML <li> element, set its text content with currently iterated item and append it to the <ul>.
        });
    });
});
        </script>