<div class="card body w-100 h-100" style="width: 720px;">
    <br/>
    <div class="card-body">
        <h1 class='text-warning text-center mx-auto mt-4 animated jackInTheBox duration-2s' style="width: 240px;">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
            Oops!
            <i class="fa fa-question-circle" aria-hidden="true"></i>
        </h1>
        <hr>
        <p class="text-secondary text-center">Cannot find the page you were looking for:</p>
        <p class="text-info text-center h4"><b>404</b> - Not found</p>
        <br/><br/>
    </div>
    <a href="Home" class="card-footer btn btn-block btn-warning border-bottom-0 border-right-0 border-left-0">
        Return to homepage</a>
</div>