<div class="col-md col-sm-12">
    <div class="card mb-3 shadow">
        <div class="card-body">
            <h3 class="card-title text-primary">${azienda.nome}</h3>
            <hr>
            <p class="card-text text-secondary">${azienda.descrizione}</p>
            <!--
            Non penso che la sede legale sia di alcuna rilevanza per gli studenti
            <p class="card-text">${azienda.sede}</p>
            -->
        </div>
        <a class="card-footer text-secondary cardtext btn btn-light bnt-outline-primary" 
           href="DettagliAzienda?a=${azienda.key}">Mostra dettagli</a>
    </div>
</div>