
    <div class="card ml-0 shadow my-4">
        <div class="card-body">
            <h3 class="card-title text-primary">${azienda.nome}</h3>
            <hr>
            <p class="card-text text-secondary">${azienda.descrizione}</p>
            <!--
            Non penso che la sede legale sia di alcuna rilevanza per gli studenti
            <p class="card-text">${azienda.sede}</p>
            -->
        </div>
        <div class="card-footer p-1">
        <a class="text-secondary cardtext btn btn-light bnt-outline-primary btn-block" 
           href="DettagliAzienda?a=${azienda.key}">Mostra dettagli</a>
            
        </div>
    </div>