
    <div class="minicards card shadow-sm ml-0 my-4 text-center">
        <div class="card-body">
            <h3 class="card-title text-primary mb-4">
                <!--<i class="far fa-building"></i>-->
                ${azienda.nome}</h3>
            <p class="card-text text-secondary mt-3">${azienda.descrizione}</p>
            <!--
            Non penso che la sede legale sia di alcuna rilevanza per gli studenti
            <p class="card-text">${azienda.sede}</p>
            -->
        </div>
        <a class="dynalink text-secondary cardtext btn btn-light btn-block c-det card-footer" 
           href="DettagliAzienda?a=${azienda.key}">Mostra dettagli</a>

    </div>