    <div class="card m-3 border border-primary shadow">
        <!--<div class="card-header bg-altro">
            <h2 class="card-title">Tirocinio</h2>
        </div>-->
        <div class="card-body">
            <h5 class="card-title">
                <small class="text-secondary">presso</small>
                <a class="text-dark"
                   href="DettagliAzienda?a=${offerta.azienda.key}">
                    ${offerta.azienda.nome}</a></h5>
            <p class="card-text">
                ${offerta.orari}, 
                <strong>${offerta.luogo}</strong></p>
            <hr>
            <p class="cardtext">${offerta.obiettivi}</p>
        </div>
        <a class="card-footer text-white cardtext btn bg-primary details"
           href="DettagliOfferta?o=${offerta.key}">Mostra dettagli</a>
    </div>