<#ftl encoding='UTF-8'>
<div class="card still-b shadow">
    <div class="card-header bg-success">
        <h2 class="text-white text-center">
            <i class="fas fa-check"></i>
            La registrazione è stata effettuata.
        </h2>
    </div>
    <div class="card-body">
        <p>    
            Una mail di conferma è stata inviata all'indirizzo del responsabile.
        </p>
        <p class="text-muted">
            Non appena l'università avrà completato il processo di convenzionamento della tua azienda potrai iniziare a pubblicare offerte di tirocini.
            <br>
            Questo può richiedere da qualche giorno a poco più di una settimana. <br>
            In caso di problemi contatta il responsabile dell'università all'indirizzo
            <strong>resp_tirocini@univaq.it</strong>
        </p>
        <a class="btn btn-primary" href="Home">Torna alla home</a>
    </div>
</div>