<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>outline.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.date_format</param-name>
        <param-value>dd/MM/yyyy hh:mm:ss</param-value>
    </context-param>
    <context-param>
        <param-name>view.debug</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>templates</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.author</param-name>
        <param-value>Andrea D'Angelo, Carlo Antonio Venditti, Francesco Zappacosta</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.homepage_url</param-name>
        <param-value>homepage</param-value>
    </context-param>
    <context-param>
        <param-name>view.encoding</param-name>
        <param-value>ISO-8859-1</param-value>
    </context-param>
    <context-param>
        <param-name>view.error_template</param-name>
        <param-value>error.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>uploads.directory</param-name>
        <param-value>uploads</param-value>
    </context-param>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.univaq.tirocini.controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.univaq.tirocini.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.univaq.tirocini.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>com.univaq.tirocini.controller.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.univaq.tirocini.controller.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettagliAzienda</servlet-name>
        <servlet-class>com.univaq.tirocini.controller.DettagliAzienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettagliOfferta</servlet-name>
        <servlet-class>com.univaq.tirocini.controller.DettagliOfferta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newOffer</servlet-name>
        <servlet-class>com.univaq.tirocini.controller.newOffer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Offers</servlet-name>
        <servlet-class>com.univaq.tirocini.controller.Offers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Companies</servlet-name>
        <servlet-class>com.univaq.tirocini.controller.Companies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student</servlet-name>
        <servlet-class>com.univaq.tirocini.controller.ProfiloStudente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotFound</servlet-name>
        <servlet-class>com.univaq.tirocini.controller.NotFound</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>com.univaq.tirocini.controller.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Convenzione</servlet-name>
        <servlet-class>com.univaq.tirocini.controller.Convenzione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidaturaServlet</servlet-name>
        <servlet-class>com.univaq.tirocini.controller.CandidaturaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gestioneofferta</servlet-name>
        <servlet-class>com.univaq.tirocini.controller.Gestioneofferta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreazioneTirocinio</servlet-name>
        <servlet-class>com.univaq.tirocini.controller.CreazioneTirocinio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConclusioneTirocinio</servlet-name>
        <servlet-class>com.univaq.tirocini.controller.ConclusioneTirocinio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfGenerator</servlet-name>
        <servlet-class>com.univaq.tirocini.controller.PdfGenerator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettagliAzienda</servlet-name>
        <url-pattern>/DettagliAzienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettagliOfferta</servlet-name>
        <url-pattern>/DettagliOfferta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newOffer</servlet-name>
        <url-pattern>/newOffer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Offers</servlet-name>
        <url-pattern>/Offers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Companies</servlet-name>
        <url-pattern>/Companies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotFound</servlet-name>
        <url-pattern>/NotFound</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Convenzione</servlet-name>
        <url-pattern>/Convenzione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidaturaServlet</servlet-name>
        <url-pattern>/Candidatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gestioneofferta</servlet-name>
        <url-pattern>/Gestioneofferta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreazioneTirocinio</servlet-name>
        <url-pattern>/CreazioneTirocinio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConclusioneTirocinio</servlet-name>
        <url-pattern>/Conclusione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfGenerator</servlet-name>
        <url-pattern>/PdfGenerator</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>jdbc/webdb2</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <error-page>
        <error-code>404</error-code>
        <location>/NotFound</location>
    </error-page>
    <res-ref-name>jdbc/webdb2</res-ref-name>
    
    <welcome-file-list>
                <welcome-file>Home</welcome-file>
        </welcome-file-list> 
</web-app>
